@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

section{
  margin-top: 4rem;
  margin-bottom: 4rem;
 
}

.intro{
padding: .5rem;
}

.presentation{
 
  padding: 1rem;
}

.tarif{
  padding: 1rem;
  background-color: beige;
  font-size: 120%;
}

.tarif > ul > li{
  text-decoration: none;
}

.option-item{
  padding: 1rem;
  color: aliceblue;
  background-color: rgb(180, 147, 116);
  font-size: 120%;
}

.title-blue{
   font: 600 32px Arial,sans-serif;
    color: #8d1e7c;

    padding: 120px 0 0 0;
    font-size: calc(1em + 1.25vw);
    line-height: 1.5em;
}


.tiret-violet-milieu {
  margin: 30px auto;
  background-color: #8d1e7c;
  width: 40px;
  height: 5px;
  display: block;
}

.titre-violet{
  color: #8d1e7c;
  padding: 1rem;
}


.bg-light {
  background-color: #f6f5f5 !important;
  padding: 150px 15px 150px 15px;
}


.site-footer{
  background-color: lightblue;
  padding: 2rem;
}

.para{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
}