.navigation a {
        
    text-align: center;
    margin: 0 10px;
    
  }
  
  
  //div{

    text-align: center;
  }//

  .container {

    display: grid;
    grid-template-columns: 70px 30px;
    grid-template-rows: ;

  }

  .image {

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    
  }
  
 
  h1 {

    text-align: center
  } 
  h2 {

    text-align: center
  }